.questions-list-component {
  border-bottom: solid 1px rgb(211, 211, 211);
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.questions-list-wrapper {
  display: flex;
  justify-content: space-between;
}

.question-component {
  border: solid 2px rgb(211, 211, 211);
  padding: 15px;
}
