.leaderboard-table {
  border: solid 1px gray;
  border-radius: 10px;
}

.table-wrapper {
  display: flex;
  justify-content: center;
  width: inherit;
}

.leaderboard-table {
  padding: 15px;
  width: 900px;
}

th {
  text-align: left;
  border-bottom: solid 2px lightgray;
}
