.nav-component {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px lightgray;
}

.nav-options {
  display: flex;
  list-style-type: none;
  padding: none;
}

.nav-option {
  margin-right: 15px;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.nav-option:hover {
  color: gray;
  transition: ease-in 0.5s;
}

.auth-container {
  display: flex;
}
