.vote-component {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vote-options-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.option-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 20px;
}

.checkmark-wrapper {
  position: absolute;
  margin: 7px 10px;
}

.option {
  border: solid 2px rgb(211, 211, 211);
  padding: 25px;
  border-radius: 10px;
  transition: ease-in, 0.5s;
}

.option:hover {
  box-shadow: 5px 10px rgb(211, 211, 211);
  cursor: pointer;
}

.or-divider {
  display: flex;
  justify-content: center;
  margin: 0px 40px;
}
